*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btnLogin{
   text-align: center;
   font-size: 30px;
   color: white;
   text-decoration: none;
   position: absolute;
   left: 50%;
   top: 50%;
   width: 400px;
   border-radius: 25px;
   background-color:  #2196f3;
   transform: translate(-50%,-50%);
 
}

.btnLogin a{
  font-size: 30px;
  color: white;
  text-decoration: none;

}